
#slider {
  margin: 0px auto;
  width: 81%;
  height: 3.4em;
  position: relative;
  /*border-radius: 2px;*/
  background-color: #087163;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7AC23C;
  z-index: 1;
  margin-left: 4px;
}

#label {
  width: 150px;
  position: absolute;
  left: 4px;
  top: 4px;
  height: 93px;
  line-height: 93px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: #999;
  font-size: 30px;
  font-weight: 900;
  box-shadow: -1px 1px 1px 1px #999;
}

#labelTip {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-family: 'Microsoft Yahei', serif;
  color: #fff;
  line-height: 93px;
  text-align: center;
  z-index: 2;
  border: 4px solid;
  border-left: 8px;
  border-radius: 8px;
  border-image: linear-gradient( #11675e , #459793) 3;
}
/*www.sucaijiayuan.com*/